<nav class="navbar navbar-default navbar-fixed-top" style="width: auto;">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#top"><img src="img/logo.png" width="80px" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarhead">
                <ul class="nav navbar-nav navbar-left" style="margin-left: 15px;">
                    <li>
                        <a href="#" ng-click="navClick(top)" class="brand-label">豆蔻高端数码店</a>
                    </li>
                    <li>
                        <a href="" ng-click="navClick(productCategory)" class="brand-label">公司背景</a>
                    </li>
                    <li>
                        <a href="#" class="brand-label">主管产品</a>
                    </li>
                    <li>
                        <a href="#" class="brand-label">关于我们</a>
                    </li>
                    <li>
                        <a href="#" class="brand-label">立即购买</a>
                    </li>
                    <li>
                        <a href="#" class="brand-label">联系我们</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-left: -25px;margin-right: -20px;" >
                    <li><a href="#" ng-click="readyLogout()"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</nav>

<!--<div id="pslp-feature" class="parallax-window" data-parallax="scroll" data-image-src="img/bg.jpg">
    <img src="img/bg.jpg" width="100%" img-loaded
         class="pslpbg" alt="Parts Suppliers"/>

</div>-->

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="img/bg.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="img/bg2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="img/bg3.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;
    </a>
</div>

<div class="site-content">

    <div class="site-title">
        <div class="main-title">
            <span>豆蔻高端数码店</span>
        </div>
        <div class="sub-title">
            <span>专注高规格手机、电脑、相机等数码产品</span>
        </div>
        <a href="getting-started#download" class="btn btn-outline-inverse btn-lg">立即购买</a>
    </div>

    <div id="productCategory" class="common-section company-info">
        <div class="section-title">
            公司背景
        </div>
        <div class="section-content">
            <div class="section-text">豆蔻高端数码产品有限公司创建于2010年，坐落于北京中关村，主营产品有电脑、手机、相机等。创建以来，公司以先进的生产设备，完善的售后服务，丰富的生产经验和优质的产品质量而一直受到客户信赖。</div>
        </div>
        <div class="box-content">
            <div class="info-box">
                <p class="box-title">20万</p>
                <p class="box-detail">全国优质客户</p>
            </div>
            <div class="info-box">
                <p class="box-title">30万</p>
                <p class="box-detail">年出货销量</p>
            </div>
            <div class="info-box">
                <p class="box-title">5,000万</p>
                <p class="box-detail">全年销售额</p>
            </div>
        </div>
    </div>
    <div id="companyInfo" class="common-section product-category-section">
        <div class="section-title">
            主营产品
        </div>
        <div class="box-content">
            <div class="img-box">
                <img class="box-inner-img" src="img/pc.jpg">
                <p class="box-info">电脑</p>
                <p class="box-detail">MacBook电脑、品牌电脑、组装电脑</p>
            </div>
            <div class="img-box">
               <img class="box-inner-img" src="img/pad.jpg">
                <p class="box-info">手机平板</p>
                <p class="box-detail">iPad 全系列、SAMSUNG GALAXY系列</p>
            </div>
            <div class="img-box">
                <img class="box-inner-img" src="img/camera.jpg">
                <p class="box-info">相机</p>
                <p class="box-detail">佳能、尼康高端莱卡、单反相机、镜头</p>
            </div>
        </div>
    </div>
    <div class="common-section company-info">
        <div class="section-title">
            热销产品
        </div>

    </div>
    <div class="common-section company-info">
        test
    </div>
</div>